body {
    background-color: #95e1ff;
    color: black;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}